@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  margin: 0;
  padding: 0;
  
}
.about .content h3 {
  font-weight: 700;
  font-size: 26px;
  color: #149ddd;
  padding-bottom: 10px;
  line-height: 30px;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.about .content ul strong {
  margin-right: 10px;
}

.about .content ul i {
  font-size: 16px;
  margin-right: 5px;
  color: #149ddd;
  line-height: 0;
}

.page-section{
  padding-left: 1.25rem/* 20px */;
  padding-right: 1.25rem/* 20px */;
  color: white;
}

.about .content p:last-child {
  margin-bottom: 0;
}
section {
  padding: 60px 10px;
  overflow: hidden;
  
}
.maringer{
  margin-top: 10%;
  padding: 5%;
}
.section-bg {
  background: #040D12;
  color: #EEF2E6;
}
.kuchkaro{
  width: 100%;
}

.section-title {
  padding-bottom: 30px;
}
.header-bg{
  color: #08D9D6;
}
.other-header{
  color: white;
}
.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #149ddd;
  bottom: 0;
  left: 0;
}

.section-title p {
  margin-bottom: 0;
}


.flipper{
  transform: scale(-1,1);
}
.channel-card-group {
  margin-left: 25%;
  padding-bottom: 30%;
  margin-top: 10px;
}

.channel-card-group,
.channel-card {
  aspect-ratio: 5/7;
}

.channel-card-group,
.big-channel-card {
  width: 15%;
}

.channel-card {
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  transition: transform 800ms cubic-bezier(0.05, 0.43, 0.25, 0.95);
}

.big-channel-card {
  border-radius: 1vmin;
}

.little-channel-card {
  width: 5%;
  border-radius: 2vmin;
  top: 55%;
  left: 47%;
  transform: translate(-50%, -50%);
}

/* The Transformations */
.big-channel-card:nth-child(2) {
  transform: translateX(-10%) rotate(-1deg);
}

.big-channel-card:nth-child(4) {
  transform: rotate(2deg);
}

.big-channel-card:nth-child(6) {
  transform: translateX(-6%) rotate(-3deg);
}

.big-channel-card:nth-child(8) {
  transform: translateX(10%, 3%) rotate(5deg);
}

/* Hover Effects */
/* Card Splits */
.channel-card-group:hover > .big-channel-card:nth-child(2) {
  transform: translate(-95%, 16%) rotate(-21deg);
}

.channel-card-group:hover > .big-channel-card:nth-child(4) {
  transform: translate(-45%, 8%) rotate(-8deg);
}

.channel-card-group:hover > .big-channel-card:nth-child(6) {
  transform: translate(45%, 8%) rotate(8deg);
}

.channel-card-group:hover > .big-channel-card:nth-child(8) {
  transform: translate(95%, 16%) rotate(21deg);
}

.channel-card-group:hover > .little-channel-card:nth-child(1) {
  transform: translate(210%, -160%) rotate(-15deg);
}

.channel-card-group:hover > .little-channel-card:nth-child(3) {
  transform: translate(170%, 200%) rotate(15deg);
}

.channel-card-group:hover > .little-channel-card:nth-child(5) {
  transform: translate(-210%, -170%) rotate(15deg);
}

.channel-card-group:hover > .little-channel-card:nth-child(7) {
  transform: translate(-290%, 200%) rotate(-15deg);
}

/* Images */
.big-channel-card:nth-child(2) {
  background-image: url("/akash-2.jpg");
  background-position: 25% 50%;
  
  background-repeat: no-repeat;
  background-size: cover;
}

.big-channel-card:nth-child(4) {
  background-image: url("/akash-3.jpg");
  background-position: 50% 50%;

  background-repeat: no-repeat;
  background-size: cover;
}

.big-channel-card:nth-child(6) {
  background-image: url("/akash-6.jpg");
  background-position: 60% 85%;
  
  }

.big-channel-card:nth-child(8) {
  background-image: url("/akash-5.jpg");
  background-position: 55%, 0%;
  background-repeat: no-repeat;
  background-size: cover;
}


/* Media query to hide elements on tablets and smaller devices */
@media (max-width: 768px) {
  .big-channel-card:nth-child(2),
  .big-channel-card:nth-child(4),
  .big-channel-card:nth-child(6),
  .big-channel-card:nth-child(8) {
    display: none;
  }
}





#cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px 40px;  
  max-width: 1200px;
  width: calc(100% - 20px);
}

#cards:hover > .card::after {
  opacity: 1;
}

.card {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  height: 170px;
  flex-direction: column;
  position: relative;
  width: 200px;  
}

.card:hover::before {
  opacity: 1;
}

.card::before,
.card::after {
  border-radius: inherit;
  content: "";
  height: 100%;
  left: 0px;
  opacity: 0;
  position: absolute;
  top: 0px;
  transition: opacity 500ms;
  width: 100%;
}

.card::before {
  background: radial-gradient(
    800px circle at var(--mouse-x) var(--mouse-y), 
    rgba(255, 255, 255, 0.06),
    transparent 40%
  );
  z-index: 3;
}

.card::after {  
  background: radial-gradient(
    600px circle at var(--mouse-x) var(--mouse-y), 
    rgba(255, 255, 255, 0.4),
    transparent 40%
  );
  z-index: 1;
}

.card > .card-content {
  background-color: var(--card-color);
  border-radius: inherit;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  inset: 1px;
  padding: 10px;
  position: absolute;
  z-index: 2;
}

/* -- ↓ ↓ ↓ extra card content styles ↓ ↓ ↓ -- */

h1, h2, h3, h4, span {
  color: rgb(240, 240, 240);
  font-weight: 400;
  margin: 0px;
}


.card-image {
  align-items: center;
  display: flex;
  height: 140px;
  justify-content: center;
  overflow: hidden;
}

.card-image > i {
  font-size: 6em;
  opacity: 0.25;
}

.card-info-wrapper {
  align-items: center;
  display: flex;
  flex-grow: 1;
  justify-content: center;
  padding: 0px 20px;
}

.card-info {
  align-items: flex-start;
  display: flex;
  gap: 10px;
}

.card-info > i {  
  font-size: 1em;
  height: 20px;
  line-height: 20px;
}

.card-info-title > h3 {
  font-size: 1.1em;
  line-height: 20px;
}

.card-info-title > h4 {
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.85em;
  margin-top: 8px;
}

/* -- ↓ ↓ ↓ some responsiveness ↓ ↓ ↓ -- */

@media (max-width: 1000px) {
  body {
    align-items: center; /* Center cards vertically */
    justify-content: center; /* Center cards horizontally */
    overflow: auto;
  }

  #cards {
    max-width: 100%;
    padding: 10px 20px; /* Adjust padding as needed */
    display: flex;
    flex-wrap: wrap;
    justify-content: center; /* Center cards horizontally */
  }

  .card {
    flex-shrink: 1;
    width: calc(33.33% - 4px); /* Adjust the width as needed */
    margin: 10px; /* Add spacing between cards */
  }
}

@media (max-width: 500px) {
  .card {
    height: 150px;
    width: 200px;
  }

  
  #cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 0px;
    max-width: none; /* Remove max-width */
    width: 100%; /* Remove calc */
  }
  
  .card {
    width: calc(50% - 20px); /* 50% width with 20px gap on both sides */
  }
  

  .card-image {
    height: 80px;
  }

  .card-image > i {
    font-size: 3em;
  }

  .card-info-wrapper {
    padding: 0px 10px;
  }

  .card-info > i {
    font-size: 0.8em;
  }

  .card-info-title > h3 {
    font-size: 0.9em;
  }

  .card-info-title > h4 {
    font-size: 0.8em;
    margin-top: 4px;
  }
}

@media (max-width: 320px) {
  .card {
    width: 100%;
  }
}
