@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  margin: 0;
  padding: 0;
  
}
.about .content h3 {
  font-weight: 700;
  font-size: 26px;
  color: #149ddd;
  padding-bottom: 10px;
  line-height: 30px;
}

.about .content ul {
  list-style: none;
  padding: 0;
}

.about .content ul li {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.about .content ul strong {
  margin-right: 10px;
}

.about .content ul i {
  font-size: 16px;
  margin-right: 5px;
  color: #149ddd;
  line-height: 0;
}

.about .content p:last-child {
  margin-bottom: 0;
}
section {
  padding: 60px 10px;
  overflow: hidden;
  
}
.maringer{
  margin-top: 10%;
  padding: 5%;
}
.section-bg {
  background: #252A34;
  color: #EEF2E6;
}
.kuchkaro{
  width: 100%;
}

.section-title {
  padding-bottom: 30px;
}
.header-bg{
  color: #08D9D6;
}
.other-header{
  color: white;
}
.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 50px;
  height: 3px;
  background: #149ddd;
  bottom: 0;
  left: 0;
}

.section-title p {
  margin-bottom: 0;
}


.flipper{
  transform: scale(-1,1);
}
.channel-card-group {
  margin-left: 25%;
  padding-bottom: 30%;
  margin-top: 10px;
}

.channel-card-group,
.channel-card {
  aspect-ratio: 5/7;
}

.channel-card-group,
.big-channel-card {
  width: 15%;
}

.channel-card {
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  transition: transform 800ms cubic-bezier(0.05, 0.43, 0.25, 0.95);
}

.big-channel-card {
  border-radius: 1vmin;
}

.little-channel-card {
  width: 5%;
  border-radius: 2vmin;
  top: 55%;
  left: 47%;
  transform: translate(-50%, -50%);
}

/* The Transformations */
.big-channel-card:nth-child(2) {
  transform: translateX(-10%) rotate(-1deg);
}

.big-channel-card:nth-child(4) {
  transform: rotate(2deg);
}

.big-channel-card:nth-child(6) {
  transform: translateX(-6%) rotate(-3deg);
}

.big-channel-card:nth-child(8) {
  transform: translateX(10%, 3%) rotate(5deg);
}

/* Hover Effects */
/* Card Splits */
.channel-card-group:hover > .big-channel-card:nth-child(2) {
  transform: translate(-95%, 16%) rotate(-21deg);
}

.channel-card-group:hover > .big-channel-card:nth-child(4) {
  transform: translate(-45%, 8%) rotate(-8deg);
}

.channel-card-group:hover > .big-channel-card:nth-child(6) {
  transform: translate(45%, 8%) rotate(8deg);
}

.channel-card-group:hover > .big-channel-card:nth-child(8) {
  transform: translate(95%, 16%) rotate(21deg);
}

.channel-card-group:hover > .little-channel-card:nth-child(1) {
  transform: translate(210%, -160%) rotate(-15deg);
}

.channel-card-group:hover > .little-channel-card:nth-child(3) {
  transform: translate(170%, 200%) rotate(15deg);
}

.channel-card-group:hover > .little-channel-card:nth-child(5) {
  transform: translate(-210%, -170%) rotate(15deg);
}

.channel-card-group:hover > .little-channel-card:nth-child(7) {
  transform: translate(-290%, 200%) rotate(-15deg);
}

/* Images */
.big-channel-card:nth-child(2) {
  background-image: url("/akash-2.jpg");
  background-position: 25% 50%;
  
  background-repeat: no-repeat;
  background-size: cover;
}

.big-channel-card:nth-child(4) {
  background-image: url("/akash-3.jpg");
  background-position: 50% 50%;

  background-repeat: no-repeat;
  background-size: cover;
}

.big-channel-card:nth-child(6) {
  background-image: url("/akash-6.jpg");
  background-position: 60% 85%;
  
  }

.big-channel-card:nth-child(8) {
  background-image: url("/akash-5.jpg");
  background-position: 55%, 0%;
  background-repeat: no-repeat;
  background-size: cover;
}

/* @media (max-width: 1000px) {
  .big-channel-card:nth-child(2) {
    background-position: 60% 70%;
  }

  .big-channel-card:nth-child(4) {
    background-position:55% 45% ;
  }

  .big-channel-card:nth-child(6) {
    background-position: 30% 50%;
  }

  .big-channel-card:nth-child(8) {
    background-position:50% 10% ;
  }
} */

/* Media query to hide elements on tablets and smaller devices */
@media (max-width: 768px) {
  .big-channel-card:nth-child(2),
  .big-channel-card:nth-child(4),
  .big-channel-card:nth-child(6),
  .big-channel-card:nth-child(8) {
    display: none;
  }
}



